<h2 id="title">Welcome to Ember.js</h2>

<div class="app-container">
  <header class = "current-location">
    <h4>
    </h4>
  </header>
  <div class="current-weather">
    <div class="temperature-widget">

    </div>
  </div>
  <div class="hourly-weather">



  </div>
  <div class="weekly-weather">

  </div>
  <div class="search-bar">

  </div>
</div>


{{outlet}}
