<h1 class="index-header">Blue Sky Forecast</h1>
<p> Up to Date Weather Forecast Based on Your Current Location</p>

{{link-to 'Get local weather' 'weather' model.latitude model.longitude}}
{{outlet}}
